.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.container {
  text-align: center;
  max-width: 1200px;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #333;
}

.description {
  font-size: 1.5rem;
  color: #6A00AA;
}


